body{background:#f8f8f8}#login{padding:4% 0 0}.login h1 a{background-image:url("../images/logo.png");width:250px;height:163px;background-size:250px;margin:0 auto}.login form{margin-top:10px}.login label{color:#454545;display:block;margin-bottom:1em;font-weight:normal}.login #backtoblog a,.login #nav a{color:#2E3995}.wp-core-ui .button-primary{background:#2E3995;border:none;text-shadow:none}.wp-core-ui .button-primary:hover{background:#2E3995;opacity:.6}button,input,select,textarea{font-weight:normal}
