.rings {
	position: absolute;
	width: 800px;
	bottom: -10px;
	left: 50%;
	margin-left: -400px;
  user-select: none;
	.ring__ringlet {
		width: 400px;
		height: 400px;
		background: rgba(255,255,255,0.02);
		border: 1px solid rgba(255,255,255,0.12);
		border-radius: 50%;
		margin-left: 50%;
		left: -200px;
		position: absolute;
		bottom: -160px;
		transform: scale(0.1, 0.1);
		opacity: 0;
		animation: ring-1 3000ms ease-out infinite;

		&:nth-of-type(2) {
			animation-delay: 600ms;
		}

		&:nth-of-type(3) {
			animation-delay: 1200ms;
		}
	}
}

@keyframes ring-1 {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
