@import "compass";
@import "base/_variables.scss";
@import "base/_mixins.scss";

/*==================================
SPECIAL EPISODES
==================================*/
@import 'https://fonts.googleapis.com/css?family=Assistant:300|Open+Sans';
$body: 'Roboto', Times New Roman, times, serif;
$heading: 'Roboto', Helvetica, Arial, sans-serif;
.serif {
  font-family: $body;
}
.sans {
  font-family: $heading;
}
.row{ margin: 0; }
@import 'grid';
@import 'sticky-nav';

// local variables
$lightgold: #d9cb8c;
$darkgrey: #2e2e2e;
$max-width--narrow: em(940px);
/*

PADDING
*/
$units: 1 2 3 4;
@each $unit in $units{
  .padding-top--#{$unit}{
    padding-top: #{$unit}rem;
  }
  .padding-bottom--#{$unit}{
    padding-bottom: #{$unit}rem;
  }
}

/*

DEPTH
*/
.box-shadow{
  box-shadow: 0 0 .25rem rgba(0,0,0,0.25);
  &--up{
    box-shadow: 0 -0.5rem .25rem rgba(0,0,0,0.25);
  }
  &--down{
    box-shadow: 0 0.5rem .25rem rgba(0,0,0,0.25);
  }

  &--xl{
    box-shadow: 0 0 2rem rgba(0,0,0,0.25);
  }
  &--xl--up{
    box-shadow: 0 -0.5rem 2rem rgba(0,0,0,0.25);
  }
  &--xl--down{
    box-shadow: 0 0.5rem 2rem rgba(0,0,0,0.25);
  }
}

// SCSS syntax
.header {
  background-color: yellow;
  &.main{
    font-size: 200px;
  }
}

/*

BUTTONS
*/
.btn-circle{
  $size: 60px;
  border-radius: 100%;
  min-width: $size;
  min-height: $size;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  color: inherit;
  transition: all .5s ease-in-out;

  i {
    line-height: $size;
    font-size: $size / 2;
    transition: all .5s ease-in-out;

  }
  &.page-scroll{
    border: 2px solid $lightgold;
    color: $lightgold;
    transform: translateY(5em);

    &:hover{
      color: white;
      border-color: white;
      i{
        transform: scale(1.25);
        transform-origin: center;
      }
    }
  }
}

.children--fill-height{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  > section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/*

PAGE
*/
.primary-nav{
  font-size: 1rem;
  .mobile-nav__toggle{
    height: 40px;
    width: 40px;
    padding: 0;
    align-self: flex-end;
    justify-content: center;
    background-color: rgba(0,0,0,.5);
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: none;
    outline: 0;
    .fa { text-shadow: none; }
    @include transition(all .2s ease-in-out);
    transform: rotate(0deg);
    @media(min-width: 900px) {
      display: none;
    }
  }
  .navbar-main-collapse{
    // overflow: hidden;
    @include transition(opacity .2s ease-in);
    @media(max-width: 900px) {
      height: 0;
      position: absolute;
      right: 0;
      top: auto;
      opacity: 0;
    }
    .nav.navbar-nav{
      @media(max-width: 900px) {
        flex-direction: column;
        width: 100vw;
        background-color: rgba(0,0,0,.85);
        li {
          width: 100vw;
        }
        a{
          font-size: 5.5vmin;
          text-align: center;
        }
      }
    }
  }
  &.primary-nav--active {
    .mobile-nav__toggle{
      background-color: rgba(100, 0, 0, .5);
      @include transform(rotate(90deg));
    }
    .navbar-main-collapse{
      @media(max-width: 900px) {
        height: auto;
        width: 100%;
        transform: translateY(20px);
        opacity: 1;
      }
    }
  }
}

.navbar-nav #crestashareiconincontent {
  @include mobile {
    display: none;
  }
}



.single_post_meta #crestashareiconincontent{
  display: none;
  @include mobile {
    display: block;
  }
}

.navbar-nav .cresta-share-icon i {
  width: 30px !important;
  height: 30px !important;
  padding: 5px 0px;
}

.navbar-nav .cresta-share-icon.sameColors {
  .facebook-cresta-share .cresta-the-count-content, 
  .reddit-cresta-share .cresta-the-count-content, 
  .googleplus-cresta-share .cresta-the-count-content, 
  .linkedin-cresta-share .cresta-the-count-content, 
  .twitter-cresta-share .cresta-the-count-content{
  background: transparent !important;
  left: 16px;
  top: -5px;
  }
}


//

.navbar-nav .cresta-share-icon.sameColors {
  .facebook-cresta-share .cresta-the-count-content {
  color: #3b5998;
  }
  .googleplus-cresta-share .cresta-the-count-content {
  color: #D34836;
  }
  .linkedin-cresta-share .cresta-the-count-content {
  color: #007bb6;
  }
  .reddit-cresta-share .cresta-the-count-content {
  color: #ff4500;
  }
}


.special-episodes {
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.68;
  hr{
    border: 0;
    height: 1px;
    position: relative;
    margin: 0.5em auto 2em auto;
    max-width: $max-width--narrow;
    &:before, &:after{
      content: '';
      left: 0;
      position: absolute;
      width: 100%;
      height: 5px;
    }
    &:before{
      content: '';
      background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
      border: 0;
    }
    &:after{
      content: '';
      position: absolute;
      width: 100%;
    }
    &.hr--gold{
      border-color: $lightgold;
      background-color: $lightgold;

      &:before, &:after{
        content: '';
        left: 0;
        position: absolute;
        width: 100%;
        height: 5px;
      }
      &:before{
        content: '';
        background: radial-gradient(ellipse at center, rgba($lightgold, 0.2) 0%,rgba($lightgold, 0) 75%);
        border: 0;
      }
      &:after{
        content: '';
        position: absolute;
        width: 100%;
      }
    }
  }

  h1, h2, h3, h4, h5{
    font-size: 150%;
    line-height: 1.1;
    &:not(.serif){
      font-family: $heading;
    }
  }

  header{
    h1, h2, h3, h4, h5{
      line-height: 1.1;
    }
    &.header-hero--serif{
      margin: 2em 0 -2em;
      h1, h2, h3, h4, h5{
        @extend .serif;
        font-weight: normal;
        font-size: 6vmin;
        line-height: 1.4;
      }
    }
  }

//meta fields
 .focus_post_category a {
    color: rgba(85,85,85,0.7);
    font-family: 'Roboto Condensed';
    text-transform: uppercase;
  }

  .focus_post_category a:before {
    content: "";
        height: 10px;
        width: 10px;
        border-radius: 50%;
        margin-right: 5px;
        display: inline-block;
  }

  .focus_post_category a:before {
        background: $blue;
    }

    a.politics:before {
        background: $green;
    }

    a.music:before {
        background: $aqua;
    }

    a.family:before {
        background: $aqua;
    }

    a.health:before {
        background: $marineblue;
    }

    a.culture:before {
        background: $gold;
    }

    a.business:before {
        background: $purple;
    }

    a.immigration:before {
        background: $red;
    }

  p {
    margin: 0;
    font-size: 1.5em;
    font-family: $body;
     @include mobile {
      font-size: 1em;
      line-height: 1.6;
     }
  }
  p + p {
    margin-top: 1em;
  }
  #episode-credits .logo{
    figcaption{
      font-size: 1rem;
    }
    img{
      min-width: 180px;
      max-height: 180px;
      height: auto;
    }
  }
  .npr_embed iframe {
    max-height: 195px;
  }
  .special_episode_header_icons{
    margin-top: 1.5rem;
    margin-bottom: -1rem;
    display: inline-block;
  }
  .intro-body {
    min-height: 80vmin;
    background-color: $darkgrey;
    color: $lightgold;
    overflow: hidden;
    flex-direction: column;
    flex: 1;
    .episode-heading {
      font-size: 8vmin;
      color: white;
      text-shadow: 0 0 1rem rgba(0,0,0,0.95);
      font-weight: 400;
      position: relative;
      // top: -10vmin;
      s{
        display: block;
        text-decoration: none;
        white-space: nowrap;
      }
      @media all and (max-width: 568px) {
        top: 0vmin;
      }
    }
    .intro-text {
      font-size: 4vmin;
    }
  }

  .intro-body__content{
    z-index: 1;
  }

  .max-width--narrow{
    max-width: $max-width--narrow;
  }

  section {
    $thick-padding: 4rem;
    $thin-padding: 2em 2em 1em;
    position: relative;
    display: flex;
    flex-direction: column;
    &:nth-child(odd){
      background-color: white;
    }
    &:nth-child(even){
      background-color: $lightgrey;
    }
    &.section--padded{
      padding: $thick-padding 0;
    }
    &.section--thin-padded{
      padding: $thin-padding 0;
    }
    &.section--pull-up{
      margin-top: -($thick-padding + 2);
    }
    &.section--transparent{
      background-color: transparent;
    }
  }

  section .section-title{
    text-align: center;
    padding: 1.5em 0 0;
    h1, h2, h3, h4, h5 {
      @extend .text-uppercase;
      font-weight: normal;
      letter-spacing: .25em;
      color: inherit;
    }
    hr{
      margin-top: 1em;
    }

  }
 section figure {
    font-size: 1rem;
    margin: 1em 2em;
    img{
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #000;
      }
    }
    figcaption{
      border-bottom: 1px solid #ccc;
      font-size: .75rem;
      padding: .75em 0;
      display: block;
      width: 100%;
      color: #333;
      p {
        font-size: 1em;
        &:empty{
          display: none;
        }
      }
      &.no-border{
        border: 0;
      }
    }
    &.align-center,
    &.align-left,
    &.align-right{
      width: 100%;
      max-width: 470px;
      margin-top: 2em;

      .video_embed{
        margin-bottom: 0;
      }
    }
    &.align-center{
      margin-left: auto;
      margin-right: auto;
    }
    $directions: left right;
    @each $direction in $directions{
      &.align-#{$direction}{
        $negative-margin: -18vmin;
        @media (min-width: 1265px){
          margin-#{$direction}: $negative-margin;
        }
        @media (max-width: 1265px){
          margin-#{$direction}: $negative-margin / 1.5;
        }
        @include tablet_landscape {
          margin-#{$direction}: $negative-margin / 2;
        }
        @include tablet {
          margin-#{$direction}: $negative-margin / 4;
        }
        @media (max-width: 940px){
          float: none;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 2rem;
          width: 100%;
          max-width: none;
        }
      }
    }
  }
  section header + figure[class*="align-"]{
    margin-top: .5em;
    margin-bottom: .5em;
  }
  // Every element within body-text are equally spaced with an inherit top margin.
  .body-text{
    text-align: left;
    & > * + * {
      margin-top: 1em;
      margin-bottom: 0
    }
  }
}

.bg-color--lightgrey{
  background-color: $lightgrey;
}
.bg-color--grey{
  background-color: $grey;
}
.bg-color--darkgrey{
  background-color: $darkgrey;
}

.bg-color--white{
  background-color: white;
}
.accent-color--lightgold{
  color: $lightgold;
  h1, h2, h3, h4, h5 {
    color: $lightgold;
  }
}

// Figure Centered

.special-episodes section {
  figure.alignnone, figure.aligncenter {
    margin: 1em auto;
  }
}

.special-episodes section figure .wp-caption-text {
  background: none;
}
