@import "compass";
@import "base/_variables.scss";
@import "base/_mixins.scss";

/*==================================
STICKY NAV
==================================*/
.sticky-nav{
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
  min-height: 57px; // Incidental height of .navbar-toggle
  min-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%, rgba(0,0,0,.33) 50%,rgba(0,0,0,0) 100%);

  color: white;
  transition: background-color .2s ease-out;// .15s;


  &--active{
    background-color: rgba(0, 0, 0, .95);
    transition: background-color 1s ease-out;// .15s;
  }
}
.navbar-toggle{
  display: none;
  @include mobile_landscape {
    display: inline-block;
  }
}
.navbar-fixed--top{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  .admin-bar &{
    top: 32px;
  }
  &.active{
    padding: 10px 0;
  }
}

.sticky-nav .navbar-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sticky-nav .nav.navbar-nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;

  li {
    padding: 0 1rem;
    background-color: rgba(255,255,255,0);
    transition: background-color .2s ease-out;
    &:hover{
      background-color: rgba(255,255,255,.1);
    }
    &.hidden{
      display:none;
    }
  }
}
.sticky-nav a{
  display: block;
  padding: 1em 0;
  color: #eee;
  transition: color .2s ease-out;
  text-shadow: 0 0 2px #000;
  &:hover {
    color: white;
  }
  // @media all and (max-width: 568px) {
  //   // font-size: 11px;
  // }
}
