@import "compass";
@import "base/_variables.scss";
@import "base/_mixins.scss";

/*==================================
FONTS
==================================*/

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-position: outside;
}

// Styled list within content areas

.wysiwyg {
  ul, ol {
    margin: 0 0 20px;
    padding: 0;
    list-style-position: outside;
  }
}

.wysiwyg li {
  margin-left: 1.2em;
}

body, p, h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
}

p {
    font-size: 16px;
	font-weight: 400;
    margin-bottom: 20px;

    &.small {
        font-size: 14px;
    }
}

h1 {
	font-size: 50px;
    line-height: 50px;
	font-weight: 700;
    margin: 0px 0px 10px;

    @include mobile_landscape {
        font-size: 30px;
    }
}

h2 {
	font-size: 25px;
    line-height: 30px;
	font-weight: 700;

    @include mobile_landscape {
        font-size: 25px;
    }
}

h3 {
	font-size: 18px;
  line-height: 20px;
	font-weight: 700;
}

a, a:visited, a:active, a:focus {
    color: $blue;
    outline: 0;
    outline: none;
    @include transition(color .3s ease-in-out);
}

a:hover {
    color: $darkgrey;
}

.read_more {
    display: block;
    padding: 5px 0px;
    font-size: 16px;
    font-weight: 600;
    color: $blue;

    span {
        font-size: 16px;
        font-weight: 600;
        color: $blue;
        @include transition(color .3s ease-in-out);
    }

    i {
        float: right;
        font-size: 22px;
    }

    &:hover span {
        color: $darkgrey;
    }
}

/*==================================
COLORS
==================================*/

/*=== Font Colors ===*/

.blue {
    color: $blue;
}

.orange {
    color: $orange;
}

.black {
    color: $black;
}

.red {
    color: $red;
}

/*=== Background Colors ===*/

.aqua_background {
    background: $aqua;
}

.green_background {
    background: $green;
}

.marineblue_background {
    background: $marineblue;
}

/*==================================
ATOMIC LAYOUT DEFINITIONS;
==================================*/
.container{
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: calc(73.125rem + 2rem);
}

.full-width{
  min-width: 100%;
}
.display-block{
  display: block;
}
.flex {
  display: flex;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-col{
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}
.flex--center {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex--center-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: start;
}
.flex--center-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
}

.flex-item {
  flex: 1;
}

.flex-item--top {
  align-self: flex-start;
}

.flex-item--bottom {
  align-self: flex-end;
}

.flex-item--fixed {
  flex: none;
  max-width: 50%;
}

// heights
.min-height--100vh{
  min-height: 100vh;
}

// Backgrounds
.bg-cover {
  background-size: cover;
  background-position: center center;
  background-color: #111;
  &__tint{
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    &--blur {
      overflow: hidden;
      filter: blur(5px);
      transform: scale(1.1);
    }
    &--black {
      background-color: rgba(0,0,0,.35);
    }
    &--white {
      background-color: rgba(255,255,255,.35);
    }
  }
}

// Floats
.align-left{
  float: left;
}
.align-right{
  float: right;
}
.align-center{
  float: none;
}

// Type
.text-uppercase{
  text-transform: uppercase;
}
.text-align--center{
  text-align: center;
}
.text-align--left{
  text-align: left;
}
.text-align--right{
  text-align: right;
}

.row{
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

@mixin grid-width($cols, $has-gutter:true) {
  @if $has-gutter {
    width: calc(((100% / #{$grid-columns}) * #{$cols}) - #{$grid-gutter-width});
    margin-left: $grid-gutter-width / 2;
    margin-right: $grid-gutter-width / 2;
  } @else {
    width: calc((100% / #{$grid-columns}) * #{$cols});
  }
}

/*==================================
OVERALL STRUCTURE
==================================*/

#content {
    background: $grey;
    position: relative;
    z-index: 10;
}

.main_wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0px 100px;
    overflow: auto;

    @include desktop {
        width: 1200px;
    }
}

.lusa_grid {
    overflow: auto;
    margin-bottom: 20px;
}

/*=== Format with main column on the left sidebar on the right ===*/

.main_column_left {
    width: 70%;
    float: left;
    padding-right: 20px;

    @include tablet_landscape {
        width: 100%;
        padding-right: 0px;
    }
}

.sidebar_right {
    float: left;
    width: 30%;

    @include tablet_landscape {
        display: none;
    }
}

.sidebar_right.mobile_visible {
    @include tablet_landscape {
        display: block;
        width: 100%;
        margin-top: 20px;
    }
}

/*=== Format with main column on the right sidebar on the left ===*/

.sidebar_left {
    float: left;
    width: 30%;
    padding-right: 20px;

    @include tablet_landscape {
        width: 100%;
        padding-right: 0px;
    }
}

.main_column_right {
    width: 70%;
    float: left;

    @include tablet_landscape {
        width: 100%;
    }
}

.row {
    max-width: 100%;
    margin: 0px 0px 0px -0.9375rem;
}
/*=== Half/Half Format ===*/

.lusa_half {
    float: left;
    width: 50%;
    padding: 0px 10px;
}

/*=== General White Container ===*/

.white_container {
    padding: 10px;
    background: #fff;
    margin-bottom: 20px;

    p:last-child {
        margin-bottom: 0px;
    }
}

/*==================================
HEADERS
==================================*/

/*=== Page Header with Image ===*/

.header_image {
    position: relative;

    /* @include tablet_landscape {
        height: 500px;
        overflow: hidden;
    } */

    img {
        display: block;
        width: 100%;

        /* @include tablet_landscape {
            width: auto;
            height: 500px;
            max-width: none;
            margin-left: -100px;
        } */
    }

    .title {
        position: absolute;
        left: 0;
        bottom: 0;
        color: #000;
        text-align: left;
        padding: 20px;
        width: 60%;
        background: rgba($grey,.8);

        @include tablet_landscape {
            width: 100%;
        }

        @include tablet {
            display: none;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            @include mobile_landscape {
                font-size: 14px;
            }

            &:last-child {
                margin-bottom: 0px;
            }
        }

    }

    &:before {
        @include overlay(rgba($blue,.3));
    }
}

/*=== In Page Header ===*/

.top_page_header {
    padding: 20px;
    margin-bottom: 20px;

    h2,p {
        color: $white;
    }
}

/*=== In Page Header ===*/

.inpage_header {
    margin-bottom: 0px;
    padding: 0px 0px 20px 40px;
    font-size: 25px;
    color: $darkgrey;
    font-weight: 300;

    a {
        font-weight: 700;
    }

    span {
        color: $blue;
        font-weight: 700;
    }

    @include mobile_landscape {
        padding: 0px 0px 20px 0px;
        font-size: 20px;
        line-height: 28px;
    }
}

/*==================================
UNIVERSAL POST CONTAINER
==================================*/

.post_container {
    background: #fff;
    padding: 10px;
    overflow: auto;
    margin-bottom: 20px;
    position: relative;
}

/*=== Excerpt Text ===*/

.post_container .text {
    float: left;
    width: 60%;
    padding: 10px 20px;

    .title {
        margin-bottom: 20px;

        h2 {
            margin-bottom: 5px;
        }

        p {
            color: $darkgrey;
        }

    }

    p {
        margin-bottom: 0px;
    }

    @include mobile_landscape {
        width: 100%;
    }

    @include mobile {
        padding: 10px;
    }
}

.post_container .top_content {
    overflow: auto;
}

/*=== Content for single episode page where the content goes below the player ===*/

.post_container .content {
    padding: 20px;

    p:last-child {
        margin-bottom: 0px;
    }
}

/*=== Reporter Titles and Links ===*/

.reporter_info {

    color: rgba($darkgrey,.7);

     a {
        color: rgba($darkgrey,.7);
        text-transform: uppercase;
        font-family: 'Roboto Condensed', sans-serif;
        @include transition(all .3s ease-in-out);

        &:hover {
            color: $blue;
        }
    }

}

/*=== Featured Image or Video ===*/

.post_container .media {
    float: left;
    width: 40%;

    img {
        display: block;
        width: 100%;
    }

    @include mobile_landscape {
        width: 100%;
        margin-bottom: 10px;
    }
}

/*=== Large standout post container at the top of pages ===*/

.post_container_large {
    background: #fff;
    padding: 10px;
    overflow: auto;
    margin-bottom: 20px;

    .text {
        padding: 10px 20px;

        .title {
            margin-bottom: 20px;
        }

        @include mobile {
            padding: 10px;
        }
    }

    .top_title {
        padding: 10px 20px;

        @include mobile {
            padding: 10px;
        }
    }
}

/*=== NPR Embed ===*/

.npr_embed iframe {
    height: 200px;

    /* @media all and (max-width: 1280px){
        height: 250px;
    }

    @media all and (max-width: 900px){
        height: 270px;
    }

    @media all and (max-width: 768px){
        height: 240px;
    } */
}

/*=== Pagination ===*/

.lusa_pagination {

    overflow: auto;

    span {
        font-weight: 500;
        font-size: 20px;
    }

    span.previous_posts {
        a {
            float: left;
            padding: 10px 0px;
            width: 150px;
            text-align: center;
            background: $blue;
            color: $white;
            @include transition(all .3s ease-in-out);

            &:hover {
                background: $darkblue;
            }

            @include mobile {
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }

    span.next_posts {
        a {
            float: right;
            padding: 10px 0px;
            width: 150px;
            text-align: center;
            background: $blue;
            color: $white;
            @include transition(all .3s ease-in-out);

            &:hover {
                background: $darkblue;
            }

            @include mobile {
                width: 100%;
            }
        }
    }

}

/*==================================
CATEGORIES
==================================*/

/*=== Latest News ===*/

ul.post-categories {
    list-style: none;

    li {
        display: inline-block;
    }
}

ul.post-categories a {
    color: rgba($darkgrey, .7);
    font-family: 'Roboto Condensed';
    text-transform: uppercase;

    /* &.culture:before, &.politics:before {
        content: "";
        height: 10px;
        width: 10px;
        border-radius: 50%;
        margin-right: 5px;
        display: inline-block;
    } */
}

ul.post-categories {

    a:before, a.politics:before, a.music:before, a.health:before, a.culture:before, a.business:before {
        content: "";
        height: 10px;
        width: 10px;
        border-radius: 50%;
        margin-right: 5px;
        display: inline-block;
    }

    a:before {
        background: $blue;
    }

    a.politics:before {
        background: $green;
    }

    a.music:before {
        background: $aqua;
    }

    a.family:before {
        background: $aqua;
    }

    a.health:before {
        background: $marineblue;
    }

    a.culture:before {
        background: $gold;
    }

    a.business:before {
        background: $purple;
    }

    a.immigration:before {
        background: $red;
    }

}

a.topic_header {

    &:before {
        content: "";
        height: 10px;
        width: 10px;
        border-radius: 50%;
        margin-right: 5px;
        display: inline-block;
        background: $blue;
    }

    &.politics:before {
        background: $green;
    }

    &.music:before {
        background: $aqua;
    }

    &.health:before {
        background: $marineblue;
    }

    &.culture:before {
        background: $gold;
    }

    &.business:before {
        background: $purple;
    }
}

/*==================================
WIDGETS
==================================*/

.widget_area {
    background: #ffffff;
    padding: 10px;
    margin-bottom: 20px;

    h3.title {
        text-align: center;
        margin-bottom: 20px;
    }

    img {
        max-width: 100%;
    }

    p:last-child {
        margin-bottom: 0px;
    }
}

/*=== Widgets showing Latino USA posts ===*/

.widget_post {
    overflow: auto;
    margin-bottom: 20px;

    .widget_post_text {
        float: left;
        width: 60%;
        padding-right: 10px;
    }

    a.widget_post_title {
        font-size: 13px;
        color: $contentgrey;
    }

    a.widget_post_image {
        float: left;
        width: 40%;
    }

    &:last-child {
        margin-bottom: 0px;
    }
}

/*=== Donate Widget ===*/

.donate_widget img {
    margin-bottom: 10px;
}

.social_widget p {
    text-align: center;
    font-size: 30px;
    line-height: 37px;
    font-weight: 300;
}

/*=== How To Listen Widget ===*/

ul.htl_icons {
    list-style-type: none;
    @include flexbox ((
        display: flex
    ));
    margin-bottom: 20px;

    li {
        width: 33.33%;
        padding: 0px 5px;
    }

    .htl_image {
        border: 3px solid $grey;
        border-radius: 50%;
        padding: 5px;
        @include flexbox ((
            display: flex,
            flex-direction: column,
            justify-content: center,
            align-items: center
        ));
        height: 100%;
        @include transition(all .3s ease-in-out);
    }
    
    .htl_image a {
        width: 90%;
    }

}

/*=== Search Widget ===*/

.widget {
    .search-form {
        padding: 10px;
    }
    .search-field {
        width: 100%;
    }
}

/*=== Marias Podcast Picks Widget ===*/

.widget_area.marias_picks {

    .marias_picks_image {
        margin-bottom: 10px;
    }

    .lusa_grid {
        margin-bottom: 0px;
    }

    .half {
        width: 50%;
        float: left;
        margin-bottom: 10px;

        p {
            text-align: center;
            margin-bottom: 10px;
            font-weight: 600;
        }

        &:first-child {
            padding-right: 5px;
        }

        &:last-child {
            padding-left: 5px;
        }

    }

}

/*==================================
BUTTONS
==================================*/

a.blue_cta {
    background: $blue;
    padding: 10px;
    display: block;
    color: white;
    text-align: center;
    font-weight: 700;
    @include transition(background .3s ease-in-out);

    &:hover {
        background: $darkblue;
    }
}


.blue_long_cta {
    background: #fff;
    padding: 10px;

    a {
        background: $blue;
        display: block;
        padding: 20px;
        color: #fff;
        font-weight: 700;
        @include transition(background .3s ease-in-out);

        &:hover {
            background: $darkblue;
        }
    }

    i {
        float: right;
        font-size: 23px;
    }
}

/*==================================
COMPONENTS
==================================*/

/*=== Responsive Video Embeds ===*/

.wysiwyg {
    .video_embed, .fb-video {
        margin-bottom: 20px;
    }
}

.video_embed .fluid-width-video-wrapper {
    padding-top: 56% !important;
}

/*=== Margins ===*/

.margin_bottom_20 {
    margin-bottom: 20px;
}

/*==================================
HEADER
==================================*/

// Banner Image

.header_banner {
    a {
        display: block;
    }
    img {
        display: block;
        width: 100%;
    }
}

.header_top {
    background: $white;
    text-align: center;
    padding: 20px 0px;
    width: 90%;
    margin: 0 auto;
    position: relative;

    a.blue_cta {
        display: inline-block;
        position: absolute;
        padding: 10px 50px;
        right: 0;
        top: 35%;
        font-size: 18px;

        @include mobile_landscape {
            display: none;
        }
    }

    @include desktop {
        width: 1200px;
    }
}

.logo_tagline_container {
    p {
        margin-bottom: 0px;
        font-size: 14px;
    }
    img {
        width: 100%;

        @include mobile {
            width: 150px;
        }
    }
}

.header_bottom {
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    text-align: center;
}

/*=== Header Navigation ===*/

ul#header-menu {

    padding: 20px 0px;
    display: inline-block;

    li {
        display: inline-block;
        font-weight: 700;
        margin-right: 30px;
        font-size: 20px;

        a {
            color: $blue;
            @include transition(all .3s ease-in-out);

            &:hover {
                color: $darkgrey;
            }
        }
    }

    @include tablet {
        display: block;
    }

    @include mobile_landscape {
        display: none;
    }

}

/*=== Logo ===*/

.logo_tagline_container {
    width: 200px;
    margin: 0 auto;
}

/*=== Mobile Navigation ===*/

@media all and (min-width: 600px) {

    .mobile_visibile_menu {
        display: none;
    }

}

ul.mobile_visibile_menu {

    padding: 20px 0px;
    width: 90%;
    margin: 0 auto;

    li {
        display: inline-block;
        font-weight: 700;
        margin-right: 13px;
        font-size: 14px;

        a {
            color: $blue;
            @include transition(all .3s ease-in-out);

            &:hover {
                color: $darkgrey;
            }
        }
    }

}

@media all and (min-width: 600px) {

    ul#mobile_hidden_menu {
        display: none;
    }

}

ul#mobile_hidden_menu {

    position: relative;
    z-index: 8;
    max-height: 0px;
    opacity: 0;
    list-style-type: none;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    @include transition(all .5s ease-in-out);

    &.open {
        max-height: 500px;
        opacity: 1;
        z-index: 9;
    }

    li {
        border-bottom: 1px solid $grey;
        padding: 10px 0px;
        font-weight: 600;
        font-size: 14px;

        a {
            color: $darkgrey;
        }
    }

}

/*=== Header Icons Social/Search ===*/

ul.header_icons {
    display: inline-block;
    list-style-type: none;

    li {
        color: $darkgrey;
        display: inline-block;
        margin-right: 20px;
    }

    a {
        color: $darkgrey;

        &:hover {
            color: $blue;
        }
    }

    @include tablet {
        display: block;
        margin-bottom: 20px;
    }

    @include mobile_landscape {
        display: none;
    }
}

.search_link {
    cursor: pointer;
    color: $darkgrey;

    &:hover {
        color: $blue;
    }
}

/*=== Topics Drawer ===*/

.topics_drawer {
    position: relative;
    z-index: 8;
    max-height: 0px;
    opacity: 0;
    @include transition(all .5s ease-in-out);

    &.open {
        max-height: 500px;
        opacity: 1;
        z-index: 9;
    }

    @include mobile_landscape {
        display: none;
    }
}

.topics_drawer ul {
    list-style-type: none;
    overflow: auto;
    padding: 40px 0px;
    width: 90%;
    margin: 0 auto;

    @include desktop {
        width: 1200px;
    }
}

.topics_drawer li {
    width: 20%;
    display: inline-block;
    float: left;
    padding: 0px 10px;

    a.topic_header {
        color: $darkgrey;
        font-size: 18px;
        margin-bottom: 10px;
        display: block;
    }

    img {
        margin-bottom: 5px;
    }

    p {
        font-size: 14px;
        margin-bottom: 5px;
        color: $darkgrey;
    }

    .read_more {
        font-weight: 600;
    }
}

.flexbox .topics_drawer ul {

    @include flexbox ((
        display: flex,
        flex-flow: row wrap,
    ));

}

.flexbox .topics_drawer ul li {

    width: 20%;
    @include flexbox ((
        display: flex,
        flex-direction: column,
    ));

}

.flexbox .topics_drawer a.recent_post {
    @include flexbox ((
        display: flex,
        flex-direction: column,
        flex: 1 0 auto,
    ));
}

.menu-item .fa-caret-down {

    @include transition(all .3s ease-in-out);

    &.rotate {
        @include transform(rotate(180deg));
    }

}

@include tablet {
    .topics_drawer .recent_post, .topics_drawer .read_more {
        display: none !important;
    }
    .flexbox .topics_drawer ul li {
        width: 33.33%;
    }
}

/*=== Search Form ===*/

.search_drawer {
    z-index: 8;
    position: relative;
    max-height: 0px;
    opacity: 0;
    @include transition(all .5s ease-in-out);

    &.open {
        max-height: 500px;
        opacity: 1;
        z-index: 9;
    }
}

form.search-form {
    padding: 30px;
}

.search_drawer input.search-field {
    width: 30%;

    @include mobile_landscape {
        width: 60%;
    }
}

input.search-field {
    -webkit-appearance: none;
    border-bottom: 1px solid;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-radius: 0px;
    font-size: 14px;
    display: block;
    margin: 0 auto;

    &:focus {
        outline: 0;
    }
}

.search-submit {
    display: none;
}

/*==================================
HOMEPAGE
==================================*/

.homepage_top, .homepage_bottom {
    clear: both;
    display: block;
    overflow: auto;
}

/*=== Homepage Segment Feed ===*/

.segment_container {
    display: block;
    overflow: auto;
    margin-bottom: 10px;
}

.segment_info {
    padding-right: 10px;
    width: 35%;
    float: left;

    img {
        display: block;
        width: 100%;
    }
}

.segment_embed {
    width: 65%;
    float: left;
}

@include mobile_landscape {
    .segment_info {
        padding-right: 0px;
        width: 100%;
    }
    .segment_embed {
        width: 100%;
    }
}

/*==================================
SINGLE POSTS
==================================*/

/*=== Header ===*/

.single_post_information {
    padding: 20px 130px 0px 20px;
    margin-bottom: 20px;

    @include mobile_landscape {
        padding: 0px;
    }
}

.single_post_header .npr_embed {
    border-bottom: 1px solid $grey;
    padding-bottom: 20px;
    margin-bottom: 30px;

    @include mobile_landscape {
        padding-bottom: 0;
    }
}

.single_post_meta {

    margin-bottom: 20px !important;

    .reporter_info {
        margin-right: 10px;
    }

    ul.post-categories {
        display: inline-block;
    }

}

span.post_date {
    display: inline-block;
    color: rgba($darkgrey, .7);
    font-family: 'Roboto Condensed';
    margin-right: 10px;
    text-transform: uppercase;
}

/*=== Main Content ===*/

.single_post_main {
    display: block;
    overflow: auto;
}

/*=== Social Share ===*/

.single_post_share {
    float: left;
    width: 20%;
    padding-left: 20px;
    position: relative;

    @include tablet {
        display: none;
    }
}

.single_post_share_icons {
    &.regular {
        position: relative;
    }
    &.fixed {
        position: fixed;
        width: 120px;
        top: 0;
    }
    &.waiting {
        position: absolute;
        bottom: 0;
    }
}

.single_post_share_icons #crestashareiconincontent .sbutton {
    margin: 10px 20px 10px 0;
}

@media all and (min-width: 768px) {

    .single_post_share_icons_mobile {
        display: none;
    }

}

article.single_post_content {
    float: left;
    width: 80%;

    p {
        color: $contentgrey;
    }

    img {
        margin-bottom: 20px;
    }

    @include tablet {
        width: 100%;
    }
}

/*=== Image Alignment ===*/

.single_post_content img.alignleft, .single_post_content img.alignright {
    max-width: 300px;

    @include mobile_landscape {
        max-width: 100%;
        float: none;
    }
}

/*=== Blockquotes ===*/

.lusa_blockquote {

    position: relative;
    margin-bottom: 20px;

    .lusa_blockquote_content {
        margin: 0px 80px 0px 20px;

        p {
            font-size: 23px;
            font-weight: 300;
            color: $darkgrey;

            @include mobile {
                font-size: 18px;
            }
        }

        @include mobile_landscape {
            margin: 0px 0px 20px 20px;
        }
    }

    .bar {
        position: absolute;
        height: 100%;
        border: 3px solid;
        color: $blue;
    }

}

.twitter_blockquote .bar {
    color: $twitterblue;
}

.lusa_blockquote_share {

    a {
        font-weight: 500;
    }

    i {
        float: right;
        color: $twitterblue;
    }

}

/*=== Featured Image with Caption ===*/

article.single_post_content .featured_image_with_caption {

    margin-bottom: 40px;
    border-bottom: 1px solid $darkgrey;
    padding: 0px 0px 40px 0px;

    img {
        margin-bottom: 0px;
    }

}

/*=== Image with Caption ===*/

.wp-caption {
    width: 100% !important;
    margin: 0px 0px 20px;

    img {
        width: 100%;
    }
}

.wp-caption-text {
    background: $lightgrey;
    text-align: left;
    padding: 10px;
    margin: 0px !important;
    font-size: 12px;
}

/*=== Gallery ===*/

.gallery {
    figure {
        margin: 0px 0px 10px;
    }
    img {
        margin-bottom: 0px !important;
        width: 100%;
    }
}

/*=== Related Segments No Flexbox ===*/

ul.single_post_related_segments {
    display: block;
    list-style: none;

    img {
        display: block;
        width: 100%;
    }
}

ul.single_post_related_segments li {
    width: 33.33%;
    padding-right: 10px;
    margin-bottom: 20px;
    float: left;

    @include mobile_landscape {
        width: 50%;
    }

    @include mobile {
        width: 100%;
    }
}

.related_segment_content {
    background: #fff;
    padding: 10px;
    display: block;
    @include transition(background .3s ease-in-out);

    img {
        margin-bottom: 10px;
    }

    p {
        font-size: 20px;
        line-height: 24px;
        color: $darkgrey;
    }

    &:hover {
        background: $lightgrey;
    }
}

/*=== Related Segments Flexbox. Using because a lot cleaner to align the columns ===*/

.flexbox ul.single_post_related_segments {

    list-style: none;
    @include flexbox ((
        display: flex,
        flex-flow: row wrap,
    ));

}

.flexbox ul.single_post_related_segments li {
    width: 33.33%;
    padding: 0px 5px;
    margin-bottom: 20px;
    @include flexbox ((
        display: flex,
        flex-direction: column,
    ));

    @include mobile_landscape {
        width: 50%;
    }

    @include mobile {
        width: 100%;
    }
}

.flexbox .related_segment_content {
    @include flexbox((
        display: flex,
        flex-direction: column,
        flex: 1 0 auto,
    ));

    img {
        margin-bottom: 10px;
    }

    p {
        font-size: 20px;
        line-height: 24px;
        color: $darkgrey;
        @include flexbox((
            display: flex,
            flex-direction: column,
            flex: 1 0 auto,
        ));
    }
}

/*=== Comments ===*/

div#FatPandaFacebookComments {
    background: #fff;
}

/*==================================
SINGLE EPISODE PAGE
==================================*/

/*=== Share ===*/

.single-lusa_episode .cresta-share-icon {
    width: 80%;
    margin: 0 auto !important;
}

.single-lusa_episode .single_episode_share_icons_mobile {
    display: none;
    padding-top: 20px;

    @include tablet_landscape {
        display: block;
    }
}

.single_episode_share_icons_mobile #crestashareiconincontent {
    width: 100%;
    margin: 0;
}

/*=== Spotify Playlist ===*/

.spotify_playlist iframe {
    width: 100%;
    height: 400px;
}

/*==================================
ABOUT
==================================*/

@include tablet_landscape {

    .page-template-about .sidebar_right {
        display: block !important;
        width: 100%;
    }

    .page-template-about .sidebar_right .widget_area {
        float: left;
        width: 100%;
        padding-right: 20px;
    }

}

/*=== Futuro Media Group Box ===*/

.futuro_logos {

    overflow: auto;

    img {
        width: 33.33%;
        float: left;
        padding: 0px 5px;
    }

}

/*=== Team Member Grid ===*/

.team_grid {

    overflow: auto;

    li {
        display: inline-block;
        width: 20%;
        float: left;
        margin-bottom: 20px;
        position: relative;
        border-radius: 50%;
        padding: 0px 10px;
        cursor: pointer;
        max-height: 200px;

        &:hover .team_member_image:before {
            background: rgba($blue, .6);
        }

        &:hover .team_member_image .name {
            top: 45%;
            @include opaque();
            @include transition(all .5s ease-in-out);
        }

        @include tablet_landscape {
            width: 25%;
        }

        @include tablet {
            width: 33.33%;
        }

        @include mobile_landscape {
            width: 50%;
        }
    }

}

/*=== Team Member Grid With Flexbox ===*/

.flexbox .team_grid {
    @include flexbox ((
        display: flex,
        flex-flow: row wrap,
    ));

    li {
        max-height: none;
    }
}

/*=== Individual Team Member Circle w/ Name Overlay ==*/

.team_member_image {
    position: relative;
    border: 3px solid white;
    border-radius: 50%;
    display: block;

    &:before {
        border-radius: 50%;
        @include overlay(rgba($blue,0));
        @include transition(all .5s ease-in-out);
    }

    img {
        height: auto;
        width: 100%;
        border-radius: 50%;
    }

    .name {
        position: absolute;
        top: 53%;
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 16px;
        @include opacity(0);
    }
}

/*=== Name Outside of circle like on the reporters page ===*/

h3.name {
    text-align: center;
    color: #3d3d3d;
}

/*=== Team Member Popup Styling ===*/

.white_popup {
    background: $grey;
    max-width: 800px;
    margin: 50px auto;
    position: relative;
    padding: 10px;
}

.team_member_header {
    margin-bottom: 20px;

    p {
        text-transform: uppercase;
        font-family: 'Roboto Condensed', sans-serif;
    }
}

ul.team_social_list {
    text-align: center;

    li {
        display: inline-block;
        margin-right: 10px;

        a {
            color: $blue;
            font-size: 23px;
        }
    }
}

/*==================================
REPORTERS
==================================*/

/*=== Reporter Grid Adjustments ===*/

.page-template-reporters .team_grid {

    li {
        width: 25%;

        @include tablet {
            width: 33.33%;
        }

        @include mobile_landscape {
            width: 50%;
        }

    }

}

/*==================================
INDIVIDUAL REPORTER
==================================*/

/*=== Reporter Information ===*/

.image_column {
    width: 20%;
    float: left;
    padding-right: 13px;

    @include mobile_landscape {
        width: 40%;
        margin: 0 auto;
        display: block;
        float: none;
        margin-bottom: 20px;
    }
}

.details_column {
    float: left;
    width: 80%;

    @include mobile_landscape {
        width: 100%;
    }
}

.reporter_information {
    background: #fff;
    padding: 20px;

    .team_social_list {
        text-align: left;
    }
}

/*==================================
FUNDERS
==================================*/

.funder_links {
    text-align: center;
    font-weight: 600;
}

/*==================================
HOW TO LISTEN
==================================*/

ul.htl_grid {

    display: block;
    overflow: auto;
    list-style-type: none;

    li {
        float: left;
        width: 33.33%;
        padding: 10px;

        @include mobile_landscape {
            width: 50%;
        }

        @include mobile {
            width: 100%;
        }

    }

    .logo {
        border: 3px solid $grey;
        border-radius: 50%;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        @include transition(all .3s ease-in-out);
    }

}

ul.htl_grid .logo img {
    width: 130px;
}

.flexbox ul.htl_grid {
    @include flexbox((
        display: flex,
        flex-flow: row wrap,
    ));

    li {
        padding: 10px;
        @include flexbox((
            display: flex,
            flex-direction: column,
        ));

        p {
            @include flexbox((
                flex: 1 0 auto,
            ));
        }
    }
}

/*==================================
DONATE / GRAVITY FORMS STYLING
==================================*/

span.familia {
    font-size: 12px;
    color: $orange;
}

.gform_wrapper {
    max-width: 100% !important;
    margin: 0px !important;
}

.gform_heading {
    background: #fff;
    width: 100% !important;
    margin: 0px !important;
    padding: 20px 10px 20px;

    h3 {
        color: $blue;
        margin: 0px !important;
        font-size: 30px !important;
    }
}

.gform_body {
    background: #fff;
    padding: 10px 20px 20px;
    border-bottom: 10px solid $orange;

    input, textarea, select {
        border-bottom: 3px solid $grey !important;
        border-right: 0px !important;
        border-left: 0px !important;
        border-top: 0px !important;
        border-radius: 0px !important;
        background: #f8f8f8;
        outline: none;
        width: 100% !important;
    }

    textarea {
        padding: 10px !important;
    }

    select {
        height: 32px;
        -webkit-appearance: none !important;
    }
}

.gform_wrapper .gsection {
    margin: 0px !important;
}

.gform_footer.top_label {
    text-align: center;

    .gform_button {
        background: $blue;
        color: #fff;
        -webkit-appearance: none !important;
        box-shadow: none;
        padding: 20px 50px;
        font-family: 'Roboto';
        letter-spacing: 1px;
        border: 0px;
        border-radius: 0px;

        &:hover {
            background: $darkblue;
        }
    }
}

h2.gsection_title {
    color: $blue;
}

/*=== Frequency Selection Style ===*/

.page-template-donate .frequency_selection ul.gfield_radio li {
    color: #000;
    width: 50%;
    float: left;
    background: $grey;
    @include transition(all .3s ease-in-out);

    &.frequency_on {
        color: $white;
        background: $blue;
    }

    input {
        display: none;
    }

    label {
        display: block;
        padding: 10px !important;
        cursor: pointer;
    }
}

/*=== Donation Ammount Circles ===*/

#field_3_14 .gfield_label {
    display: none;
}

.gform_body ul.gform_fields .donation_ammount li {
    display: inline-block;
    width: 20%;
    float: left;
    padding: 0px 10px !important;
    margin-bottom: 20px;

    @include tablet {
        width: 33.33%;
    }

    @include mobile {
        width: 50%;
    }
}

.gform_wrapper .donation_ammount ul.gfield_radio li input {
    display: none;

    @include tablet {
        display: inline-block;
    }
}

.donation_ammount li label {
    margin: 0px !important;
    text-align: center;
    padding: 0px!important;
    color: $black;
    border: 2px solid $grey;
    border-radius: 50%;
    font-weight: 500 !important;
    cursor: pointer;
    height: 120px;
    width: 120px !important;
    @include flexbox((
        display: flex !important,
        flex-flow: column,
        justify-content: center,
    ));

    @include tablet {
        border: 0px;
        padding: 0px 0px 0px 10px !important;
        width: auto !important;
        height: auto !important;
        display: inline-block !important;
        text-align: left;
    }
}

.donation_ammount li input:checked + label {
    background: $lightgrey;
    color: $blue;

    @include tablet {
        background: transparent;
    }
}

/*=== Hide Newsletter Label ===*/

#field_3_30 {

    label.gfield_label {
        display: none;
    }

    label#label_3_30_1 {
        font-weight: 400;
    }

}

/*=== Price ===*/

.gfield_total_3_ {
    background: #f8f8f8;
    padding: 20px;
}

.gform_wrapper span.ginput_total {
    color: $blue !important;
    font-weight: 600;
}

.message_from_maria {

    overflow: auto;

    img {
        width: 100%;
        margin-bottom: 20px;

        @include tablet_landscape {
            width: 30%;
            float: left;
            padding-right: 20px;
        }

        @include mobile_landscape {
            width: 100%;
            padding-right: 0px;
        }
    }

    .widget_content {
        width: 100%;

        @include tablet_landscape {
            width: 70%;
            float: left;
        }
        @include mobile_landscape {
            width: 100%;
        }
    }

}

/*=== Mobile ===*/

@include mobile {
    .gf_left_half, .gf_right_half {
        width: 100% !important;
    }
}

/*==================================
FOOTER
==================================*/

.footer_container {
    width: 90%;
    margin: 0 auto;

    @include desktop {
        width: 1200px;
    }
}

.footer_top {
    // @include background-image(linear-gradient(to top, $blue, rgba($blue,.9) 60%, #CF7B7B));
    background-color: $blue;
    padding: 60px 0px;
    text-align: center;
    color: $white;
    border-bottom: 10px solid $orange;

    p {
        font-size: 28px;
        line-height: 40px;
        font-weight: 300;

        @include mobile_landscape {
            font-size: 20px;
            line-height: 25px;
        }
    }
}

#footer-menu {

    margin: 40px 0px;

    li {
        display: inline-block;
    }

    a {
        color: $white;
        font-weight: 700;
        padding: 0px 20px;
        font-size: 20px;

        &:hover {
            color: $grey;
        }
    }

    @include mobile_landscape {
        display: none;
    }

}

.footer_bottom {
    padding: 20px 0px;
    text-align: center;
    color: $darkgrey;
    background: $white;

    p {
        margin-bottom: 0px;
        font-weight: 500;

        a {
            color: $darkgrey;

            &:hover {
                color: $blue;
            }
        }
    }
}

/*=== Mailchimp Form ===*/

#mc_embed_signup .email {
    background: transparent;
    border-radius: 0px;
    border: 2px solid #fff;
    height: 50px;
    padding: 0px 30px;
    color: $white;

    @include mobile {
        padding: 0px 10px;
    }
}

#mc_embed_signup .button {
    background: rgba($white, .3);
    box-shadow: none;
    text-shadow: none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 0px;
    margin-left: -6px;
    line-height: 0px;
    margin-bottom: 0px;
    height: 50px;
    width: 100px;

    @include mobile {
        width: 60px;
    }
}

#mc_embed_signup p {
    font-size: 16px;
    line-height: 20px;
}

/*=== Footer Bottom ===*/

.footer_bottom ul {
    display: block;
    list-style-type: none;
    margin-bottom: 0px;

    li {
        display: inline-block;

        @include mobile_landscape {
            display: block;
        }
    }

    a {
        font-weight: 500;
        font-size: 18px;
        padding: 0px 30px;
    }
}

/*==================================
RESPONSIVE UTILITIES
==================================*/
.img-responsive{
  display: block;
  min-width: 100%;
  height: auto;
}
.embed-responsive {
  position: relative;
  width: 100%;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;

  &--16by9 {
    padding-bottom: 56.25%;
  }
  &--1by1 {
    padding-bottom: 100%;
  }
}
.embed-responsive-item{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/*==================================
COMPONENTS
==================================*/

@import 'sticky-nav';

/*==================================
PAGES
==================================*/

@import 'special-episodes';
