/*==================================
COLORS
==================================*/

$white: #ffffff;
$black: #000000;

$grey: #e8e8e8;
$lightgrey: #f8f8f8;
$darkgrey: #555555;
$contentgrey: #222;

/*=== Primary ===*/

$blue: #2E3995;
$orange: #EE4E2F;

/*=== Secondary ===*/

$aqua: #36A8AB;
$green: #549E58;
$marineblue: #326C8E;
$gold: #EE9C44;
$purple: #9976A3;
$red: #D8223B;

/*=== Other ===*/

$darkblue: #172E75;

/*=== Social ===*/

$twitterblue: #00aced;



/*==================================
GRID
==================================*/
$gutter-width: 2rem;
